<div class="card bg-dark mb-1">
  <div class="card-body text-white">
    <% if comment.user.present? %>
      <h5 class="card-title"><%= comment.user.email%></h5>
    <% else %>
      <h5 class="card-title"><%= t('text.anonymous') %></h5>
    <% end %>
    <h6 class="card-subtitle mb-2"><%= comment.created_at.strftime("%d %m %Y") %></h6>
    <p class="card-text"><%= comment.body %></p>
  </div>
</div>

