<%= form_with(model: [post, post.comments.build], class: 'mt-2') do |form| %>
  <div>
    <%= form.rich_text_area :body %>
  </div>

  <div>
    <%= form.submit t('text.add_comment'), class: 'btn btn-success mt-2' %>
  </div>
<% end %>