<% flash.each do |type, msg|%>
  <div class="alert <%= type == 'alert' ? 'alert-danger' : 'alert-success' %> text-center" role="alert">
    <div>
      <h5><strong><%=  msg %></strong></h5>
    </div>
  </div>
<% end %>